<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="funcionarios" routerLinkActive="active" class="nav-link">Lista de Funcionários</a>
    </li>
    <li class="nav-item">
      <a routerLink="criar-funcionario" routerLinkActive="active" class="nav-link">Criar Funcionário</a>
    </li>
  </ul>
</nav>

<h1 class="text-center mb-4">{{title}}</h1>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>©2023 Todos os direitos reservados. <a href="https://www.linkedin.com/in/carlos-etl/"
        target="_blank" class="a-footer">@Cadulimadev</a></span><br>
    <span>Privacidade | Termos | Avisos legais | Preferências de cookies</span>
  </div>
</footer>
